[Unit]
Description = Client1 Node
Wants = disk_space_observer.service link_client2_observer.service  cpu_load_observer.service keyboard_connection.service mouse_connection.service process_state_observer.service

[Service]
Type = simple
Restart = always
Environment = "PYTHONPATH=/home/korobkov/Data/Other/Projects/monit/:$PYTHONPATH"
ExecStart = /home/korobkov/Data/Other/Projects/monit/env/bin/python3 /home/korobkov/Data/Other/Projects/monit/monit/run/run_node.py -c /home/korobkov/Data/Other/Projects/monit/deploy/client1_node.conf

[Install]
WantedBy=multi-user.target