[Unit]
Description = Disk space observer service

[Service]
Type = simple
Restart = always
Environment = "PYTHONPATH=/home/user/Data/Other/Projects/monit/:$PYTHONPATH"
ExecStart = /home/user/Data/Other/Projects/monit/env/bin/python3 /home/user/Data/Other/Projects/monit/monit/run/run_observer.py -c /home/user/Data/Other/Projects/monit/deploy/disk_space_observer.conf

[Install]
WantedBy=multi-user.target