[Unit]
Description = Node Service

[Service]
Type = simple
Restart = always
Environment = "PYTHONPATH=/opt/monit/:$PYTHONPATH"
ExecStart = /var/monit/env/bin/python3 /opt/monit/monit/domain/nodes/node_application_controller.py

[Install]
WantedBy=multi-user.target